@font-face {
    font-family:rb;
    src: url('../fonts/repo-bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:rr;
    src: url('../fonts/repo-regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:gb;
    src: url('../fonts/repoG-b.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:gr;
    src: url('../fonts/repoG-r.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:mb;
    src: url('../fonts/mb.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:mbd;
    src: url('../fonts/mbd.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:meb;
    src: url('../fonts/meb.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:mh;
    src: url('../fonts/mh.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:ml;
    src: url('../fonts/ml.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:mr;
    src: url('../fonts/mr.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:msb;
    src: url('../fonts/msb.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:mu;
    src: url('../fonts/mu.otf');
	font-weight: normal;
	font-style: normal;
}
body{
	background-color: #2ecc71;
}
.c{
	background-color: rgba(39, 174, 96, 0.8);
	padding: 20px 0px;
	padding-top: 30px;
}
.navbar-default{
	background-color: #FFFFFF;
	border-radius: 0px;
	border-style: none;
	box-shadow: 0px 4px 10px #27ae60;

	padding: 20px 0px;
}
.inp{
	height: 50px;
	font-family: 'rr';
}
.bt-lg{
	width: 100%;
	font-family: 'gb';
	text-transform: uppercase;
	background-color: #2c3e50;
	border-style: none;
	color: #FFFFFF;
}
.bt-lg:hover{
	background-color: #2ecc71;
	box-shadow: 0px 4px 10px #1f914f;
	color: #FFFFFF;
}
.a, .dataTables_length, .dataTables_filter, .dataTables_info, .paginate_button, .previous, .disabled, .next, .current{
	font-family: 'gr';
}
.contorno-table{
	background-color: #ecf0f1;
	padding: 20px;
	/*border: 5px solid red;*/
	border-radius: 5px;
	box-shadow: 0px 4px 10px #1f914f;

	margin-bottom: 140px;
}
a{
	color: #27ae60;
}
a:hover{
	color: #2C3E50;
}
nav, .navbar-nav, .navbar-right, .login{
	padding: 5px 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'gr';
}
.login{
	background-color: #2c3e50;
	border-radius: 3px;
	color: #FFFFFF!important;
}
.login:hover{
	background-color: #2ECC71!important;
	color: #FFFFFF!important;
}
.navbar-brand{
	margin-top: -10px;
	margin-bottom: 40px;
}
h1{
	font-family: 'mb';
	font-size: 60px;
	margin-top: 100px;
	color: #FFFFFF;
	text-shadow: 0px 2px 8px #1f914f;
}
h2{
	font-family: 'ml';
	font-size: 25px;
	color: #FFFFFF;
	/*text-shadow: 0px 5px 8px #1f914f;*/
}
.ft{
	font-family: 'ml';
}
.img{
	margin-left: 30px;
}
.btn-success{
	background-color: #2ECC71;
	border-style: none;
}
.abc{
	min-height: 550px;
}
.abcd{
	min-height: 600px;
}
.pre-cop{
	background-color:#44494B;
	height:100px;
}
.cop{
	text-align: center;
	background-color:#3F4547;
	padding-top: 30px;
	padding-bottom: 10px;
	color: #CCC;
}
.lattes{
	color: #27ae60;
}
.lattes:hover{
	color: #16a085;
	/*text-decoration: none;*/
}
.contor{
	background-color: rgba(236, 240, 241, 0.9);
	padding: 70px 10px;
	box-shadow: 0px 4px 10px #27ae60;
	margin-top: 15px;
}
.i{
	height: 50px;
	font-family: 'rr';
	width: 100%;
	background-color: #f6f8f9;
	border-radius: 0px;
	border-style: none;
}
.bt-entrar{
	width: 100%;
	font-family: 'gb';
	text-transform: uppercase;
	background-color: #2ecc71;
	border-style: none;
	color: #FFFFFF;
}
.bt-entrar:hover{
	background-color: #2c3e50;
	/*box-shadow: 0px 4px 10px #1f914f;*/
	color: #FFFFFF;
}
.hh{
	color: #2c3e50;
	margin-bottom: 20px;
}
.detalhes{
	font-size: 40px;
	text-align: center;
	text-shadow: none;
	margin-bottom: 40px;
}
.view{
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px #27ae60;
	font-family: 'ml';
	font-size: 18px;
	text-align: justify;
	/*border-radius: px;*/
	padding: 40px;
	margin-bottom: 40px;
}
.title{
	font-family: 'mr';
	font-weight: bold;
}
.download{
	text-align:center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.alert{
	border-style: none;
	border-radius:0px;
	font-family: 'ml';
	margin: 10px;
}

.alert-success{
	background-color: #27ae60;
	color: #FFFFFF;
}
.alert-info{
	background-color: #2980b9;
	color: #FFFFFF;
}
.alert-warning{
	background-color: #f1c40f;
	color: #FFFFFF;
}
.alert-danger{
	background-color: #e74c3c;
	color: #FFFFFF;
}
.submeter{
	padding: 5px 30px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'gr';
	color:#2c3e50!important;
}
.submeter:hover{
	color:#2ECC71!important;
}
.ta{
	font-family: 'rr';
}
.border-form{
	/*background-color: rgba(39, 174, 96, 0.8);*/
	background-color: #FFFFFF;
	padding: 20px 0px;
	padding-top: 30px;
	box-shadow: 0px 4px 10px #27ae60;
	margin-bottom: 40px;
	font-family: 'rr';
	text-transform: uppercase;
}
.br{
	border-radius: 0px!important;
	border-style: none;
	border: 1px solid #2ECC71;
}
.h1e{
	margin-top: 50px!important;
}
.requisito{
	color: #2ECC71;
}
.bt-visualizar{
	background-color: #2ecc71!important;
	color:#FFFFFF!important;
	border-style: none!important;
	border-radius: 0px!important;
}
.bt-visualizar:hover{
	background-color: #bdc3c7!important;
	color:#ecf0f1!important;
	border-style: none!important;
	border-radius: 0px!important;
}

.ph1{
	font-size: 180px!important;
	text-align: center;
}
.ph2{
	text-align: center;
}
.pp{
	margin-top: 40px;
	text-align: center;
}
.pa{
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'ml';
	background-color: #27ae60;
	padding: 20px;
}
.pa:hover{
	text-decoration: none;
}
.cccc{
	margin-top: 60px;
}

@media only screen and (max-width: 479px) {
	.ph1{
		font-size: 150px!important;
	}
}